@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-baskerville);
  --font-display: var(--font-marcellus);

  --color-gold: #e6b867;
  --color-fiord: #425263;
  --color-fiord-dark: #2b3641;
  --color-sisal: #d8d2c4;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-baskerville: 'Libre Baskerville', serif;
  --font-marcellus: 'Marcellus', serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
